body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
    color: #363958;
}

h2 {
    color: #363958;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

h4 {
    font-family: 'Bebas Neue', cursive;
}
}

p {
    color: #3E3E3E;
}

.text-color {
    color: #FF8367;
}

header {
    margin-right: 5%;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.flex-container ul {
    list-style: none;
    margin-right: 50px;

}

.flex-container ul li {
    display: inline-block;
    padding: 10px 20px;
}

.flex-container ul li a {
    text-decoration: none;
    color: black;
}

section {
    height: 450px;
    padding-bottom: 170px;
}

.half-width {
    width: 40%;
    padding-left: 2%;
    float: left;
    margin-left: 5%;
}

.description {
    padding-bottom: 30px;
    color: #3E3E3E;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(10deg, #FF8063, #F46060);
    padding: 15px 35px;
    color: white;
    border-radius: 7px;
}

.half-width img {
    width: 100%;
}

.icon-space {
    padding-right: 10px;
}

.about-part {
    padding-top: 30px;
}

.working-title {
    text-align: center;
    padding-top: 100px;
    letter-spacing: 1px;
    padding-bottom: 35px;
}

.working-project {
    background-color: #E5E5E5;
    height: 600px;
}

.workingTotalDiv {
    display: flex;
    justify-content: center;

}

.workingProjectDiv {
    width: 370px;
    height: 380px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey;
    float: left;
    margin-left: 2%;
}

.workingProjectDiv img {
    width: 340px;
    height: 213px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    cursor: pointer;
}

.workingProjectTitle {
    font-size: 24px;
    font-weight: bold;
    color: #363958;
    margin-bottom: 0;
    cursor: pointer;
    padding: 0 30px;
    margin-top: 15px;
}

.workingProjectDescription {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 25px;
    padding: 0 30px;
}

.workInQuiry {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    margin-top: 100px;
}

.workInQuiry img {
    width: 100%;
}

.workInQuiryAbsolute {
    position: relative;
}

.workInQuiryAbsoluteTitle {
    position: absolute;
    left: 60px;
    top: -190px;
    font-size: 50px;
    color: white;
}

.workInQuiryAbsoluteDescription {
    position: absolute;
    top: -100px;
    right: 40px;
}

.customar-story {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px gray;
}

#customSlice {
    border-left: 7px solid;
    border-image: linear-gradient(#ca92ef, #5d69e9);
    border-image-slice: 1;
}

.custom-story-circle-main-div {
    padding-top: 20px;
}

.circle {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(90deg, #ca92ef, #4225B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.customar-story img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.customar-story h4 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #363958;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 25px;
    margin-top: 10px;
}

.customar-story h5 {
    text-align: center;
    margin-top: 0;
    color: #6C6C6C;

}

.customar-story p {
    color: #3E3E3E;
    padding: 50px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.customar-story p::before {
    content: open-quote;
    font-size: 25px;

}

.customar-story p::after {
    content: close-quote;
    font-size: 25px;
}

.custom-right {
    position: relative;
}

.custom-right h4 {
    color: black;
    letter-spacing: 1px;
    font-size: 30px;
    padding-top: 50px;
}

.custom-right p {
    color: black;
}

.custom-right-image {
    position: absolute;
    top: -200px;
    left: -200px;
}

.work-inquiry {
    height: 80px;
}

footer {
    height: 100px;
    width: 100%;
}

footer h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #696871;
    text-align: center;
}

footer h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-end {
    display: flex;
    justify-content: center;
    grid-gap: 6px;
}

.footer-end ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.footer-end ul li a img {
    width: 50px;
    height: 50px;
}

footer img {
    margin-bottom: -5px;
}